{form form}
    <div class="form-group">
        {input username, class=>"form-control"}
        {label username /}
    </div>
    <div class="form-group">
        {input password, class=>"form-control"}
        {label password /}
    </div>
    {input send, class=>"btn btn-login"}
{/form}
